header {
    background-color: #03045e;
    color: white;
}

h1 {
    background-color: #03045e;
    color: white;
}

.task_display {
    display: flex;
    flex-wrap: wrap;
}

.task_entry {
    display: inline;
    width: 9.5em;
    margin: .35em;
    padding: .25em;
}