{% extends "base.html" %}

{% block content %}
<h1 class="display-5 text-center section_title">{{title}}</h1>
<div class="container">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-2 col-lg-2">
            <form action="" method="post" class="tag_drawer">
                {% csrf_token %}
                <button name="tag" value=0 class="btn btn-primary tag_button">All</button>
                {% for tag in tag_list %}
                <button name="tag" value="{{tag.id}}" class="btn btn-primary tag_button"
                    style="background-color: {{ tag.color }}; border-color: {{ tag.color }}">{{tag.name}}</button>
                {% endfor %}
            </form>
        </div>
        <div class="task_display col-9 col-sm-9 col-md-10 col-lg-10 container">
            <div class="row">
                {% for task in task_list %}
                <div class="task_entry col-10 col-lg-5" style="border-color: {{ task.1 }}">
                    <span>{{task.0.content}}</span> <br>
                    <span>{{task.0.deadline}}</span> <br>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button name="id" value="{{task.0.id}}" class="btn btn-outline-light">Done</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

