<div>
    <button type="button" class="btn-close float-end" data-bs-theme="dark" aria-label="Close" id="closePrompt"></button>
    <div>
        <h3>Username: {{ user.username }}</h3>
        <form action="/login/change_password/" method="post">
            {% csrf_token %}
            <label for="password" class="form-label">Current password: </label>
            <input type="text" name="password" class="form-control" placeholder="Password">
            <label for="new_password" class="form-label">New password:</label>
            <input type="text" name="new_password" class="form-control" placeholder="Password">
            <label for="confirm_password" class="form-label">Confirm password:</label>
            <input type="text" name="confirm_password" class="form-control" placeholder="Password">
            <span id="password_change_message"></span>
            <button class="btn btn-primary">Change password</button>
        </form>
    </div>
</div>

